.region-sidebar-first .green-class {
  	background-color: green!important;
}

.region-sidebar-first .blue-class {
    background-color: blue!important;
}

.region-sidebar-first .orange-class {
    background-color: orange!important;
}